body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1efea;
  height: 100vh;
}

header {
  text-align: center;
  padding: 10px 0;
  background-color: black;
  color: white;
  width: 100%;
}
footer {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.315);
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  background-color: white;
}

.card img {
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.card-front,
.card-back {
  display: none;
  width: 100%;
  height: 100%;
}

.card-front.active,
.card-back.active {
  display: block;
}

.card-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.card-text {
  margin: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.navigation {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
